<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <title>Chat Application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>

<body>
    <!-- Role selection dropdown -->
    <div class="dropdown">
        <label for="roles">Select a Role:</label>
        <select id="roles" name="roles">
            <option value="ielts">IELTS/TOEFL</option>
            <option value="interview">Interview</option>
        </select>
    </div>

    <!-- Chats container -->
    <div class="chat-container">
        <!-- Chat messages will be dynamically added here -->
    </div>

    <!-- Typing container -->
    <div class="typing-container">
        <div class="typing-content">
            <div class="typing-textarea">
                <textarea id="chat-input" spellcheck="false" placeholder="Enter a prompt here" required></textarea>
                <span id="send-btn" class="material-symbols-rounded">send</span>
                <span id="clear-btn" class="material-symbols-rounded">clear</span>
                <span id="save-btn" class="material-symbols-rounded">save</span>
            </div>
        </div>
    </div>

    <!-- History container -->
    <div class="history-container">
        <h2>History</h2>
        <!-- Chat history will be displayed here -->
    </div>

    <!-- Setting container -->
    <div class="setting-container">
        <div class="setting-section">
            <span id="theme-btn" class="material-symbols-rounded">light_mode</span>
        </div>
        <div class="logout">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</body>

</html>