[MASTER]

# Use multiple processes to speed up Pylint.
jobs=1


[MESSAGES CONTROL]

# Disable all to choose the Tests one by one
disable=all

# Tests
enable=bad-indentation,       # Used when an unexpected number of indentation’s tabulations or spaces has been found.
       mixed-indentation,     # Used when there are some mixed tabs and spaces in a module.
       unnecessary-semicolon, # Used when a statement is ended by a semi-colon (”;”), which isn’t necessary.
       unused-variable        # Used when a variable is defined but not used. (Use _var to ignore var).


[REPORTS]

# Tells whether to display a full report or only the messages
reports=no

# Activate the evaluation score.
score=no


[FORMAT]

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?<?https?://\S+>?$

# Number of spaces of indent required inside a hanging or continued line.
indent-after-paren=4

# String used as indentation unit. This is usually "    " (4 spaces) or "\t" (1
# tab).
indent-string='    '

# Maximum number of lines in a module
max-module-lines=1000


[EXCEPTIONS]

# Exceptions that will emit a warning when being caught.
overgeneral-exceptions=Exception