* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --text-color: #ffffff;
    --icon-color: #acacbe;
    --icon-hover-bg: #5b5e71;
    --placeholder-color: #dcdcdc;
    --outgoing-chat-bg: #343541;
    --incoming-chat-bg: #444654;
    --outgoing-chat-border: #343541;
    --incoming-chat-border: #444654;
}
.light-mode {
    --text-color: #343541;
    --icon-color: #a9a9bc;
    --icon-hover-bg: #f1f1f3;
    --placeholder-color: #6c6c6c;
    --outgoing-chat-bg: #ffffff;
    --incoming-chat-bg: #f7f7f8;
    --outgoing-chat-border: #ffffff;
    --incoming-chat-border: #d9d9e3;

}
body {
    background: var(--outgoing-chat-bg);
}

.dropdown {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Place the dropdown above other content */
    padding: 10px;
}
/* Chats container styling */
.chat-container {
    display: flex;
    position: fixed;
    width: 85%;
    height: 85%;
    right: 0;
    max-height: 500vh;
    padding-bottom: 150px;
}

:where(.chat-container, textarea)::-webkit-scrollbar {
    width: 6px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track {
    background: var(--incoming-chat-bg);
    border-radius: 25px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb {
    background: var(--icon-color);
    border-radius: 25px;
}
.default-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding: 0 10px;
    text-align: center;
    color: var(--text-color);
    margin: 0 auto; /* Center horizontally */
}

/* Typing container styling */
.typing-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 85%;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    background: var(--outgoing-chat-bg);
    border-top: 1px solid var(--incoming-chat-border);
}
.typing-container .typing-content {
    display: flex;
    max-width: 950px;
    width: 85%;
    align-items: flex-end;
}
.typing-container .typing-textarea {
    width: 85%;
    display: flex;
    position: relative;
}
.typing-textarea textarea {
    resize: none;
    height: 55px;
    width: 85%;
    border: none;
    padding: 15px 45px 15px 20px;
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 4px;
    max-height: 250px;
    overflow-y: auto;
    background: var(--incoming-chat-bg);
    outline: 1px solid var(--incoming-chat-border);
}
.typing-content span {
    width: 55px;
    height: 55px;
    display: flex;
    border-radius: 4px;
    font-size: 1.35rem;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
  }

  .typing-container {
    padding: 15px 10px;
  }
  .typing-textarea textarea {
    height: 45px;
    padding: 10px 40px 10px 10px;
  }
/* History container styling */
.history-container {
    position: fixed;
    top: 0; /* Use 'top' property instead of 'bottom' for vertical positioning */
    left: 0; /* Use 'left' property to move the container to the left */
    height: 80%; /* Set the height to your desired value */
    width: 15%;
    display: flex;
    flex-direction: column; /* Set the flex-direction to 'column' for vertical arrangement */
    padding: 10px 20px; /* Adjust padding as needed */
    justify-content: center;
    background: var(--outgoing-chat-bg);
    border-right: 1px solid var(--incoming-chat-border); /* Add a vertical border on the right side */
}

/* Setting container styling */
.setting-container {
    position: fixed;
    bottom: 0; /* Use 'top' property instead of 'bottom' for vertical positioning */
    left: 0; /* Use 'left' property to move the container to the left */
    height: 20%; /* Set the height to your desired value */
    width: 15%;
    display: flex;
    flex-direction: column; /* Set the flex-direction to 'column' for vertical arrangement */
    padding: 10px 20px; /* Adjust padding as needed */
    justify-content: center;
    background: var(--outgoing-chat-bg);
    border-right: 1px solid var(--incoming-chat-border); /* Add a vertical border on the right side */
    border-top: 1px solid var(--incoming-chat-border); /* Add a vertical border on the right side */
}

span.material-symbols-rounded {
    user-select: none;
    cursor: pointer;
}

.chat .chat-content span {
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--icon-color);
    visibility: hidden;
}
